dist
dist-*
cabal-dev
*~
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.DS_Store
compiled_scripts/*
logs
*.svg

e2e-test/*/keys
local-testnet/example
assets
test-data
e2e-test/local-testnet/example/
e2e-test/*/priv
